@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/ptsans-400.woff2) format("woff2");
   font-display: swap;
}

@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 700;
   src: url(../fonts/ptsans-700.woff2) format("woff2");
   font-display: swap;
}

html {
   height: 100%;
}

body {
   margin: 0;
   height: 100%;
   min-width: 1200px;
   font-family: "PT Sans", sans-serif;
   font-size: 18px;
   line-height: 21px;
   color: #000000;
   background-color: #f2f2f2;
}

.visually-hidden {
   position: absolute;	
   width: 1px; 
   height: 1px; 
   margin: -1px; 
   padding: 0; 
   border: 0; 
   clip: rect(0 0 0 0); 
   overflow: hidden;
}

/* Pages */

.page-container {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   width: 1200px;
   margin: 0 auto;
}

.page-header {
   background-color: #ffffff;
}

.navigation {
   display: flex;
   padding-left: 70px;
   padding-right: 70px;
}

.navigation_logo {
   margin-right: 47px;
}

.page-header-logo {
   width: 139px;
   height: 70px;
   display: block
}

.navigation-list {
   width: 490px;
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.navigation-user {
   width: 300px;
   margin-left: auto;
   justify-content: flex-end;   
}

.navigation-item:not(:last-child) {
   margin-right: 34px;
}

.navigation-link {
   display: block;
   font-weight: 700;
   font-size: 20px;
   line-height: 26px; 
   text-align: center;
   text-decoration: none; 
   color: #000000; 
   padding-top: 20px;
   padding-bottom: 20px;
}

.navigation-user .navigation-item {
   margin: 0;
}

.navigation-user .navigation-item:last-child {
   margin-left: 20px;
}

.user-item {
   min-height: 60px;
   min-width: 42px;
   padding: 0;
}

.button {
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   text-transform: uppercase;
   color: #ffffff;
   background-color: #756157;
   text-align: center;
   text-decoration: none;
   display: block;
   min-width: 140px;
   box-sizing: border-box;
   border-radius: 4px;
   padding-top: 9px;
   padding-right: 15px;
   padding-bottom: 8px;
   padding-left: 15px;  
   cursor: pointer;
}

.navigation-link.button {
   width: 160px;
}

.main-container {
   flex-grow: 1;
   padding-top: 51px;
}

/* index */

.main-index {
   background-image: url("../images/index/index-background.jpg");
   background-repeat: no-repeat;
   background-size: 1200px auto;
}

.welcome-sedona-logo {
   display: block;
   margin: 0 auto;
   margin-bottom: 82px;
}

.advantages-intro {
   text-align: center;
   background-color: #ffffff;
   padding-top: 63px;
   padding-bottom: 90px;  
}

.section-title {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
   margin: 0;
   margin-bottom: 31px;
   padding: 0;   
}

.section-text {
   font-size: 22px;
   line-height: 26px;
   color: #333333;
   margin: 0;
   padding: 0;
}

/* advantages */

.advantages-list {
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   list-style: none;
}

.advantages-item {
   width: 400px;
   min-height: 384px;
   text-align: center;
   background-color: rgba(131, 179, 211, 0.12);
}

.big-item {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

.key-item {
   width: 400px;
   color: #ffffff;
   background-color: #82b3d3;   
}

.big-item-content {
   padding-top: 92px;
   padding-right: 85px;
   padding-bottom: 92px;
   padding-left: 85px;
}

.advantages-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   margin: 0;
   margin-bottom: 30px;
}

.advantages-count {
   display: block;
   font-weight: 400;
   margin-bottom: 30px;
}

.advantages-text {
   margin: 0;
}

.advices-list {
   margin: 0;
   padding: 0;
   display: flex;
   list-style: none;
}

.advices-item {
   width: 400px;
   color: #333333;
   min-height: 384px; 
   box-sizing: border-box;
   padding-top: 80px;
   padding-right: 85px;
   padding-bottom: 81px;
   padding-left: 85px; 
}

.advices-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   color: #000000;  
   margin: 0;
   margin-top: 102px;
   margin-bottom: 30px;
}

.advices-text {
   margin: 0;
}

.item-content {
   padding-top: 103px;
   padding-right: 85px;
   padding-bottom: 102px;
   padding-left: 85px;
}

.food-item {
   background-color: #ffffff;
}

.road-item {
   background-color: rgba(131, 179, 211, 0.2);
}

/* hotel-searching */

.hotel-searching {
   background-color: #ffffff;
   text-align: center;
   padding-top: 91px;
   padding-bottom: 93px;
}

.hotel-searching-header {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
   margin: 0;
   margin-bottom: 29px;
}

.hotel-searching-text {
   font-size: 22px;
   line-height: 26px;
   color: #333333;
   margin: 0;
   margin-bottom: 56px;
}

.hotel-searching-button {
   width: 574px;
   font-size: 20px;
   line-height: 36px;
   text-decoration: none;
   margin: 0 auto;
   padding-top: 12px;
   padding-bottom: 12px;
}

/* footer */

.footer-signing-form {
   color:#ffffff;
   background-color: #82b3d3;
   background-image: url("../images/footer/background.jpg");
   background-repeat: no-repeat;
   background-size: 1200px auto;
   text-align: center;
   padding-top: 94px;
   padding-bottom: 93px;
}

.footer-signing-form-title {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
   margin: 0;
   margin-bottom: 29px;
}

.footer-signing-form-text {
   font-size: 22px;
   line-height: 26px;
   margin: 0;
   margin-bottom: 46px;
}

.signing-form {
   display: flex;
   justify-content: center;
} 

.action-button {
   background-color: #82b3d3;
   border: none;
}

.signing-form-button {
   width: 200px;
   font-size: 20px;
   line-height: 36px;
   border-radius: 0 10px 10px 0;
   padding-top: 12px;
   padding-bottom: 12px;
}

.signing-input {
   width: 580px;
   font: inherit;
   background-color: #f2f2f2;
   border: none;
   padding-top: 20px;
   padding-bottom: 19px;
   padding-left: 20px;
   border-radius: 10px 0 0 10px;
}

.footer-contacts {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #ffffff;
   color: #000000;
   padding-left: 72px;
   padding-right: 72px;
   padding-top: 40px;
   padding-bottom: 30px;
}

.footer-social-list {
   width: 150px;
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
}

.footer-social-link {
   display: block;
   min-height: 50px;
   min-width: 50px;
}

.phone-section {
   width: 720px;
   text-align: center;
}

.footer-contacts-phone {
   font-size: 40px;
   line-height: 40px;
   text-decoration: none;
   color: #000000;   
}

.copyright-section {
   min-width: 115px;
   min-height: 33px;
}

/* page-catalog */

.main-inner {
   padding-top: 0;
}

.filter {
   color: #ffffff;
   background-color: #82b3d3;
   background-image: url("../images/catalog/filter-background.jpg");
   background-repeat: no-repeat;
   background-size: 1200px auto;
   padding-left: 70px;
   padding-right: 70px;
   padding-top: 35px;
   padding-bottom: 70px;
}

.section-header-title {
   font-weight: 700;
   font-size: 60px;
   line-height: 78px;
   margin: 0;
   margin-bottom: 10px;
}

.breadcrumbs {
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   list-style: none;
}

.breadcrumbs-item:nth-child(2) {
   margin-left: 40px;
}

.breadcrumbs-link {
   display: block;
   font-size: 16px;
   text-decoration: none;
   color: inherit;
}

.section-header {
   margin-bottom: 40px;
}

.catalog-filter {
   display: flex;
} 

.group-checkbox {
   width: 150px;
   border: none;
   margin: 0;
   margin-right: 70px;
   padding: 0;
}

.group-radio {
   width: 145px;
   border: none;
   margin: 0;
   margin-right: 175px;
   padding: 0;
}

.group-range {
   width: 288px;
   border: none;
   margin: 0;
   margin-right: 70px;
   padding: 0;

}

.catalog-filter-list {
   margin: 0;
   padding: 0;
   list-style: none;
}

.catalog-filter-title {
   font-weight: 700;
   font-size: 20px;
   line-height: 26px;
   padding: 0;
   margin-bottom: 30px;
}

.group-range .catalog-filter-title {
   margin-bottom: 34px;
}

.catalog-filter-item {
   margin-bottom: 15px;
}

.catalog-filter-item:last-child {
   margin-bottom: 0;
}

.price-input {
   font-family: inherit;
   font-size: 18px;
   line-height: 21px;
   color: #ffffff;
   background-color: transparent;       
}

.input-text {
   color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-buttons .action-button{
   width: 160px;
   padding-top: 14px;
   padding-bottom: 14px;
   margin-bottom: 11px;
}

.catalog-reset-button {
   font-size: 16px;
   line-height: 20px;
   font-weight: 400;
   text-transform: none;
   width: 160px;
   text-align: center;
   color: #ffffff;
   background-color: transparent;
   border: none;
}

/* hotels */

.hotels {
   background-color: #ffffff;
   padding-left: 72px;
   padding-right: 72px;
   padding-top: 50px;
}

.sorting-block {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 56px;
}

.hotels-found-title {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
   margin: 0;
   margin-right: 191px;
}

.select-control {
   font: inherit;
   color: #333333;
}

.view-button-list {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   margin-left: auto;
   padding: 0;
   align-items: center;
}

.view-button-item {
   margin-right: 8px;
}

.view-button-item:last-child {
   margin-right: 0;
}

.view-button {
   display: block;
   box-sizing: border-box;
   text-decoration: none;
   width: 48px;
   height: 48px; 
   border: 2px solid #e5e5e5;
   border-radius: 4px;
}

.view-button-current {
   border-color: #000000;
}

.hotel-list {
   margin: 0;
   margin-bottom: 96px;
   padding: 0;
   list-style: none;
   display: grid;
   grid-template-columns: repeat(3, 340px);
   column-gap: 18px;
}

.hotel-card {
   padding: 20px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   
}

.hotel-card-link {
   text-decoration: none;  
   flex-grow: 1;
}

.hotel-card-image {
   display: block;
   object-fit: contain;
   margin-bottom: 16px;
}

.hotel-card-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   color: #000000;
   margin: 0;
   margin-bottom: 16px;
}

.hotel-card-description {
   display: grid;
   grid-template-columns: 140px 140px;
   grid-template-rows: min-content;
   column-gap: 20px;
   row-gap: 16px;
}

.hotel-type, .hotel-price {
   font-weight: 400;
   color: #333333;
   display: block;
}

.selected-button {
   background-color: #7db54f;
   border: none;
}

.estimation-rating {
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   text-transform: uppercase;  
   background-color: #f2f2f2;
   display: block;
   padding-top: 9px;
   padding-right: 22px;
   padding-bottom: 8px;
   padding-left: 23px;
   grid-column-start: 2;
}

.pagination-container {
   display: flex;
   justify-content: space-between;
}

.pagination {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
}

.pagination-item:not(:last-child) {
   margin-right: 8px;
}

.pagination-link {
   font-weight: 700;
   font-size: 20px;
   line-height: 36px;
   text-decoration: none;
   text-align: center;
   color: #ffffff;
   background-color: #82b3d3;
   display: block;
   padding-top: 11px;
   padding-bottom: 13px;
   box-sizing: border-box;
   width: 60px;
   height: 60px;
   border-radius: 4px;
}

.pagination-current {
   color: #000000;
   background-color: #f2f2f2;
}

.select-cards {
   color: #333333;
}

.catalog-footer-signing-form {
   background-color: #ffffff;
   background-image: none;
}

.catalog-footer-signing-form .footer-signing-form-title {
   color: #000000;
}

.catalog-footer-signing-form .footer-signing-form-text {
   color: #333333;
}