@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/ptsans-400.woff2) format("woff2");
   font-display: swap;
}

@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 700;
   src: url(../fonts/ptsans-700.woff2) format("woff2");
   font-display: swap;
}

html {
   height: 100%;
}

body {
   margin: 0;
   height: 100%;
   min-width: 1200px;
   font-family: "PT Sans", sans-serif;
   font-size: 18px;
   line-height: 21px;
   color: #000000;
   background-color: #f2f2f2;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   padding: 0;
   border: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* Pages */

.page-container {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   width: 1200px;
   margin: 0 auto;
   box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
   background-color: #ffffff;
}

.navigation {
   display: flex;
   padding-left: 70px;
   padding-right: 70px;
   align-items: flex-start;
}

.navigation_logo {
   margin-right: 47px;
}

.page-header-logo {
   width: 139px;
   height: 70px;
   display: block;
   cursor: pointer;
   position: relative;
}

.navigation-list {
   width: 490px;
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.navigation-user {
   width: 300px;
   margin-left: auto;
   justify-content: flex-end;
}

.navigation-item:not(:last-child) {
   margin-right: 34px;
}

.navigation-link {
   display: block;
   font-weight: 700;
   font-size: 20px;
   line-height: 26px;
   text-align: center;
   text-decoration: none;
   white-space: nowrap;
   color: #000000;
   padding-top: 20px;
   padding-bottom: 20px;
   box-sizing: border-box;
   position: relative;
}

.navigation-link:focus {
   outline: none;
}

.navigation-list:first-of-type .navigation-link:hover {
   color: #756157;
}

.navigation-list:first-of-type .navigation-link:focus {
   color: #756157;
}

.navigation-list:first-of-type .navigation-link:active {
   color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current::before {
   position: absolute;
   content: "";
   height: 2px;
   width: 100%;
   background-color: #756257;
   bottom: 0;
}

.navigation-user .navigation-item {
   margin: 0;
}

.navigation-user .navigation-item:last-child {
   margin-left: 20px;
}

.user-item {
   min-height: 66px;
   min-width: 42px;
   padding: 0;
   position: relative;
}

.navigation-icon {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   fill: #000000;
}

.icon-favourite {
   position: relative;
}


.icon-favourite::before {
   content: "";
   position: absolute;
   top: 15px;
   bottom: 0;
   left: 24px;
   width: 20px;
   height: 20px;
   background-color: #7db54f;
   border-radius: 50%;
   z-index: 1;
}

.icon-favourite-count {
   font-size: 10px;
   line-height: 13px;
   color: #ffffff;
   text-align: center;
   letter-spacing: -0.1em;
   position: absolute;
   top: 18px;
   left: 29px;
   z-index: 2;
}

.navigation-link:hover .navigation-icon {
   fill: #756157;
}

.navigation-link:focus .navigation-icon {
   fill: #756157;
}

.navigation-link:active .navigation-icon {
   fill: rgba(117, 97, 87, 0.3);
}

.button {
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   text-transform: uppercase;
   color: #ffffff;
   background-color: #756157;
   text-align: center;
   text-decoration: none;
   display: block;
   width: 140px;
   box-sizing: border-box;
   border-radius: 4px;
   padding-top: 9px;
   padding-right: 15px;
   padding-bottom: 8px;
   padding-left: 15px;
   cursor: pointer;
}

.button:hover {
   background-color: #615048;
}

.button:focus {
   background-color: #615048;
   outline: none;
}

.button:active {
   background-color: #756157;
   color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
   background-color: #e5e5e5;
   color: #ffffff;
}

.navigation-link.button {
   width: 160px;
}

.main-container {
   flex-grow: 1;
   padding-top: 51px;
   margin-top: -5px;
}

/* index */

.main-index {
   background-image: url('../images/index/divider.svg'), url("../images/index/index-background.jpg");
   background-repeat: no-repeat;
   background-size: 1200px auto;
   background-position-y: 428px, 0;
}

.welcome-sedona-logo {
   display: block;
   margin: 0 auto;
   margin-bottom: 82px;
}

.advantages-intro {
   text-align: center;
   background-color: #ffffff;
   padding-top: 63px;
   padding-bottom: 90px;
}

.section-title {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
   margin: 0;
   margin-bottom: 31px;
   padding: 0;
}

.section-text {
   font-size: 22px;
   line-height: 26px;
   color: #333333;
   margin: 0;
   padding: 0;
}

/* advantages */

.advantages-list {
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   list-style: none;
}

.advantages-item {
   width: 400px;
   min-height: 384px;
   text-align: center;
   background-color: rgba(131, 179, 211, 0.12);
}

.big-item {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

.key-item {
   width: 400px;
   color: #ffffff;
   background-color: #82b3d3;
   padding-top: 92px;
   padding-right: 85px;
   padding-bottom: 92px;
   padding-left: 85px;
   box-sizing: border-box;
}

.advantages-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   margin: 0;
   margin-bottom: 30px;
}

.advantages-count {
   display: block;
   font-weight: 400;
   margin-bottom: 30px;
}

.advantages-text {
   margin: 0;
}

.advantages-photo {
  display: block;
  object-fit: contain;
}

.advices-list {
   margin: 0;
   padding: 0;
   display: flex;
   list-style: none;
}

.advices-item {
   width: 400px;
   color: #333333;
   min-height: 384px;
   box-sizing: border-box;
   padding-top: 80px;
   padding-right: 85px;
   padding-bottom: 81px;
   padding-left: 85px;
}

.advices-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   color: #000000;
   margin: 0;
   margin-top: 102px;
   margin-bottom: 30px;
}

.advices-text {
   margin: 0;
}

.item-content {
   padding-top: 103px;
   padding-right: 85px;
   padding-bottom: 102px;
   padding-left: 85px;
}

.accommodation-item {
   background-image: url("../images/index/advantage-icon-house.svg");
   background-repeat: no-repeat;
   background-position: 163px 81px;
}


.food-item {
   background-color: #ffffff;
   background-image: url("../images/index/advantage-icon-food.svg");
   background-repeat: no-repeat;
   background-position: 163px 81px;
}

.souvenirs-item {
  background-image: url("../images/index/advantage-icon-souvenir.svg");
  background-repeat: no-repeat;
  background-position: 163px 81px;
}

.road-item {
   background-color: rgba(131, 179, 211, 0.2);
}

/* hotel-searching */

.hotel-searching {
   background-color: #ffffff;
   text-align: center;
   padding-top: 91px;
   padding-bottom: 93px;
   padding-left: 72px;
   padding-right: 72px;
}

.hotel-searching-header {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
   margin: 0;
   margin-bottom: 29px;
}

.hotel-searching-text {
   font-size: 22px;
   line-height: 26px;
   color: #333333;
   margin: 0;
   margin-bottom: 56px;
}

.hotel-searching-button {
   width: 574px;
   font-size: 20px;
   line-height: 36px;
   text-decoration: none;
   margin: 0 auto;
   padding-top: 12px;
   padding-bottom: 12px;
}

/* footer */

.footer-signing-form {
   color:#ffffff;
   background-color: #82b3d3;
   background-image: url("../images/footer/background.jpg");
   background-repeat: no-repeat;
   background-size: 1200px auto;
   text-align: center;
   padding-top: 94px;
   padding-bottom: 93px;
   padding-left: 72px;
   padding-right: 72px;
}

.footer-signing-form-title {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
   margin: 0;
   margin-bottom: 29px;
}

.footer-signing-form-text {
   font-size: 22px;
   line-height: 26px;
   margin: 0;
   margin-bottom: 46px;
}

.signing-form {
   display: flex;
   justify-content: center;
}

.action-button {
   background-color: #82b3d3;
   border: none;
}

.action-button:hover {
   background-color: #68a2ca;
}

.action-button:focus {
   background-color: #68a2ca;
}

.action-button:active {
   background-color: #82b3d3;
   color: rgba(255, 255, 255, 0.3);
}

.action-button:disabled {
   background-color: #e5e5e5;
   color: #ffffff;
}

.signing-form-button {
   width: 200px;
   font-size: 20px;
   line-height: 36px;
   border-radius: 0 10px 10px 0;
   padding-top: 12px;
   padding-bottom: 12px;
}

.signing-input {
   width: 560px;
   font: inherit;
   background-color: #f2f2f2;
   border: none;
   padding-top: 20px;
   padding-bottom: 19px;
   padding-left: 20px;
   padding-right: 20px;
   border-radius: 10px 0 0 10px;
}

.signing-input:hover {
  background-color: #e6e6e6;
}

.signing-input:focus {
  background-color: #e6e6e6;
  outline: none;
}

.signing-input:active {
  background-color: #ffffff;
}

.footer-contacts {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #ffffff;
   color: #000000;
   padding-left: 72px;
   padding-right: 72px;
   padding-top: 40px;
   padding-bottom: 30px;
}

.footer-social-list {
   width: 150px;
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
}

.footer-social-link {
   display: block;
   min-height: 50px;
   min-width: 50px;
   position: relative;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.footer-social-link:hover .social-icon {
  fill: #68a2cA;
}

.footer-social-link:focus .social-icon {
  fill: #68a2cA;
}

.footer-social-link:focus {
  outline: none;
}

.footer-social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.phone-section {
   width: 720px;
   text-align: center;
}

.footer-contacts-phone {
   font-size: 40px;
   line-height: 40px;
   text-decoration: none;
   color: #000000;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
  outline: none;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.copyright-section {
   min-width: 115px;
   min-height: 33px;
   position: relative;
}

.footer-logo-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.copyright-logo:hover .footer-logo-icon {
  fill: #756157;
}

.copyright-logo:focus .footer-logo-icon {
  fill: #756157;
  outline: none;
}
.copyright-logo:active .footer-logo-icon {
  fill: rgba(117, 97, 87, 0.3);
}
/* page-catalog */

.main-inner {
   padding-top: 0;
}

.filter {
   color: #ffffff;
   background-color: #82b3d3;
   background-image: url("../images/catalog/filter-background.jpg");
   background-repeat: no-repeat;
   background-size: 1200px auto;
   padding-left: 70px;
   padding-right: 70px;
   padding-top: 35px;
   padding-bottom: 70px;
}

.section-header-title {
   font-weight: 700;
   font-size: 60px;
   line-height: 78px;
   margin: 0;
   margin-bottom: 10px;
}

.breadcrumbs {
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   list-style: none;
}

.breadcrumbs-item:first-child {
  width: 13px;
  position: relative;
}

.breadcrumbs-item:nth-child(2) {
   margin-left: 25px;
}

.breadcrumbs-link {
   display: block;
   font-size: 16px;
   text-decoration: none;
   color: inherit;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
  outline: none;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item:after {
  position: absolute;
  content: "";
  width: 6px;
  height: 9px;
  left: 24px;
  top: 6px;
  background-image: url("../images/catalog/filter-icons/arrow-right.svg");

}

.main-page-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 2px;
  margin: auto;
  fill: #ffffff;
}

.breadcrumbs-link:hover .main-page-icon {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus .main-page-icon {
  fill: #ffffff;
  outline: none;
}

.breadcrumbs-link:active .main-page-icon {
  fill: rgba(255, 255, 255, 0.3);
}

.section-header {
   margin-bottom: 40px;
}

.catalog-filter {
   display: flex;
}

.group-checkbox {
   width: 150px;
   border: none;
   margin: 0;
   margin-right: 70px;
   padding: 0;
}

.group-radio {
   width: 145px;
   border: none;
   margin: 0;
   margin-right: 175px;
   padding: 0;
}

.group-range {
   width: 288px;
   border: none;
   margin: 0;
   margin-right: 70px;
   padding: 0;

}

.catalog-filter-list {
   margin: 0;
   padding: 0;
   list-style: none;
}

.catalog-filter-title {
   font-weight: 700;
   font-size: 20px;
   line-height: 26px;
   padding: 0;
   margin-bottom: 30px;
}

.group-range .catalog-filter-title {
   margin-bottom: 34px;
}

.catalog-filter-item {
   margin-bottom: 15px;
}

.catalog-filter-item:last-child {
   margin-bottom: 0;
}

.price-input-container {
  display: flex;
  justify-content: center;
}

.price-input {
   font-family: inherit;
   font-size: 18px;
   line-height: 21px;
   color: #ffffff;
   background-color: transparent;
   border: 2px solid #ffffff;
  width: 144px;
  height: 48px;
  box-sizing: border-box;
  padding: 14px 19px;
}

.price-input::placeholder {
   color: rgba(255, 255, 255, 0.3);
   text-align: right;
}

.left-input {
  border-right-width: 1px;
  border-radius: 4px 0 0 4px;
}

.right-input {
  border-left-width: 1px;
  border-radius: 0 4px 4px 0;
}

.price-input:hover {
  border-color:rgba(255, 255, 255, 0.6);
}

.price-input:focus {
  outline: 3px solid #81b3d2;
  box-shadow:  inset 0 0 0 3px #81b3d2;
}

.price-input:active {
  background-color: #756257;
  outline: none;
  box-shadow: none;
}

.catalog-filter-buttons {
  align-self: flex-end;
  text-align: center;
}

.catalog-filter-buttons .action-button{
   width: 160px;
   padding-top: 14px;
   padding-bottom: 14px;
   margin-bottom: 19px;
}

.catalog-reset-button {
   font-size: 16px;
   line-height: 20px;
   font-weight: 400;
   text-transform: none;
   text-align: center;
   color: #ffffff;
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.catalog-reset-button:hover {
  color: rgba(255, 255, 255, 0.6);
}

.catalog-reset-button:focus {
  color: #ffffff;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  outline-offset: 2px;
}

.catalog-reset-button:active {
  color: rgba(255, 255, 255, 0.3);
}

/* hotels */

.hotels {
   background-color: #ffffff;
   padding-left: 72px;
   padding-right: 72px;
   padding-top: 50px;
   padding-bottom: 25px;
}

.sorting-block {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 56px;
}

.hotels-found-title {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
   margin: 0;
   margin-right: 191px;
}

.select-control {
   font: inherit;
   color: #333333;
   border: 2px solid #e5e5e5;
   padding: 10px 20px;
   box-sizing: border-box;
   height: 49px;
   border-radius: 4px;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #68a2ca;
  outline: none;
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color:rgba(0, 0, 0, 0.3);
}

.control-sorting {
  width: 290px;
}

.view-button-list {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   margin-left: auto;
   padding: 0;
   align-items: center;
}

.view-button-item {
   margin-right: 8px;
}

.view-button-item:last-child {
   margin-right: 0;
}

.view-button {
   display: block;
   box-sizing: border-box;
   text-decoration: none;
   width: 48px;
   height: 48px;
   border: 2px solid #e5e5e5;
   border-radius: 4px;
}

.view-button-current {
   border-color: #000000;
}

.view-button:hover {
  border-color: #000000;
}

.view-button:focus {
  border-color: #68a2ca;
  outline: none;
}

.view-button:active {
  border-color: #000000;
}

.view-button-blocks {
  background: url("../images/catalog/view-cards-icon.svg") no-repeat 50% 50%;
}

.view-button-card {
  background: url("../images/catalog/view-fullsize-icon.svg") no-repeat 50% 50%;
}

.view-button-lines {
  background: url("../images/catalog/view-list-icon.svg") no-repeat 50% 50%;
}

.hotel-list {
   margin: 0;
   margin-bottom: 96px;
   padding: 0;
   list-style: none;
   display: grid;
   grid-template-columns: repeat(3, 340px);
   column-gap: 18px;
}

.hotel-card {
   padding: 20px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}

.hotel-card-link {
   text-decoration: none;
   flex-grow: 1;
}

.hotel-card-link:hover .hotel-card-title {
  color: #756157;
}

.hotel-card-link:focus .hotel-card-title {
  color: #756157;
}

.hotel-card-link:focus {
  outline: none;
}

.hotel-card-link:active .hotel-card-title {
  color: rgba(117, 97, 87, 0.3);
}

.hotel-card-image {
   display: block;
   object-fit: contain;
   margin-bottom: 16px;
}

.hotel-card-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   color: #000000;
   margin: 0;
   margin-bottom: 16px;
}

.hotel-card-description {
   display: grid;
   grid-template-columns: 140px 140px;
   grid-template-rows: min-content;
   column-gap: 20px;
   row-gap: 16px;
}

.hotel-type, .hotel-price {
   font-weight: 400;
   color: #333333;
   display: block;
}

.selected-button {
   background-color: #7db54f;
   border: none;
}

.selected-button:hover {
   background-color: #6c9e42;
}

.selected-button:focus {
   background-color: #6c9e42;
}

.selected-button:active {
   background-color: #7db54f;
   color: rgba(255, 255, 255, 0.3);
}

.selected-button:disabled {
   background-color: #e5e5e5;
   color: #ffffff;
}

.hotel-stars {
  height: 17px;
  width: 89px;
  align-self: center;
  background-image: url("../images/catalog/star.svg");
  background-repeat: space;
  background-position: left center;
}

.hotel-stars-three {
  height: 17px;
  width: 66px;
  align-self: center;
  background-image: url("../images/catalog/star.svg");
  background-repeat: space;
  background-position: left center;
}

.hotel-stars-two {
  height: 17px;
  width: 42px;
  align-self: center;
  background-image: url("../images/catalog/star.svg");
  background-repeat: space;
  background-position: left center;
}

.estimation-rating {
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   text-transform: uppercase;
   background-color: #f2f2f2;
   display: block;
   padding-top: 9px;
   padding-right: 22px;
   padding-bottom: 8px;
   padding-left: 23px;
   grid-column-start: 2;
}

.pagination-container {
   display: flex;
   justify-content: space-between;
   position: relative;
   align-items: center;
}

.pagination-container::before {
  content: "";
  position: absolute;
  width: 1055px;
  height: 1px;
  background-color: #e6e6e6;
  top: -30px;

}

.pagination {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
}

.pagination-item:not(:last-child) {
   margin-right: 8px;
}

.pagination-link {
   font-weight: 700;
   font-size: 20px;
   line-height: 36px;
   text-decoration: none;
   text-align: center;
   color: #ffffff;
   background-color: #82b3d3;
   display: block;
   padding-top: 11px;
   padding-bottom: 13px;
   box-sizing: border-box;
   width: 60px;
   height: 60px;
   border: 1px solid #82b3d3;
   border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: none;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
   color: #000000;
   background-color: #f2f2f2;
   border: none;
}

.select-cards {
   color: #333333;
}

.control-cards-amount {
  margin-left: 51px;
  width: 160px;
}

.catalog-footer-signing-form {
   background-color: #ffffff;
   background-image: none;
}

.catalog-footer-signing-form .footer-signing-form-title {
   color: #000000;
}

.catalog-footer-signing-form .footer-signing-form-text {
   color: #333333;
}
