@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/ptsans-400.woff2) format("woff2");
   font-display: swap;
}

@font-face {
   font-family: "PT Sans";
   font-style: normal;
   font-weight: 700;
   src: url(../fonts/ptsans-700.woff2) format("woff2");
   font-display: swap;
}

html {
   height: 100%;
}

body {
   margin: 0;
   height: 100%;
   font-family: "PT Sans", sans-serif;
   font-size: 18px;
   line-height: 21px;
   color: #000000;
   background-color: #f2f2f2;
}

/* Pages */

.page-header {
   background-color: #ffffff;
}

.navigation {
   display: flex;
   padding-left: 70px;
   padding-right: 70px;
}

.page-header-logo {
   width: 139px;
   margin-right: 30px;
}

.navigation-list {
   width: 490px;
   margin: 0;
   padding: 0;
}

.navigation-user {
   width: 300px;
   margin-left: auto;
}

.navigation-link {
   font-weight: 700;
   font-size: 20px;
   line-height: 26px; 
   text-align: center;
   text-decoration: none; 
   color: #000000; 
}

.button {
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   text-transform: uppercase;
   color: #ffffff;
   background-color: #756157;
   text-align: center;
   text-decoration: none;
}

.page-container {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   width: 1200px;
   margin: 0 auto;
}

.main-container {
   flex-grow: 1;
}

/* index */

.main-index {
   background-image: url("../images/index/index-background.jpg");
   background-repeat: no-repeat;
   background-size: 1200px auto;
}

.welcome-sedona-logo {
   display: block;
   margin: 0 auto;
}

.advantages-intro {
   text-align: center;
   background-color: #ffffff;  
}

.section-title {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;   
}

.section-text {
   font-size: 22px;
   line-height: 26px;
   color: #333333;
}

/* advantages */

.advantages-list {
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
}

.advantages-item {
   width: 400px;
   min-height: 384px;
   text-align: center;
   background-color: rgba(131, 179, 211, 0.12);
}

.big-item {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

.item-blue {
   width: 400px;
   color: #ffffff;
   background-color: #82b3d3;   
}

.advantages-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
}

.advantages-count {
   font-weight: 400;
}

.advices-list {
   margin: 0;
   padding: 0;
   display: flex;
   min-height: 384px;
}

.advices-item {
   width: 400px;
   color: #333333;  
}

.advices-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   text-transform: uppercase;
   color: #000000;  
}

.item-white {
   background-color: #ffffff;
}

.item-light-blue {
   background-color: rgba(131, 179, 211, 0.2);
}

/* hotel-searching */

.hotel-searching {
   background-color: #ffffff;
   text-align: center;
}

.hotel-searching-header {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
}

.hotel-searching-text {
   font-size: 22px;
   line-height: 26px;
   color: #333333;
}

.hotel-searching-button {
   font-size: 20px;
   line-height: 36px;
   text-decoration: none;
}

/* footer */

.footer-signing-form {
   color:#ffffff;
   background-color: #82b3d3;
   background-image: url("../images/footer/background.jpg");
   background-repeat: no-repeat;
   background-size: 1200px auto;
   text-align: center;
}

.footer-signing-form-title {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
}

.footer-signing-form-text {
   font-size: 22px;
   line-height: 26px;
}

.blue-button {  
   background-color: #82b3d3;
}

.signing-form-button {
   font-size: 20px;
   line-height: 36px;
}

.signing-input {
   font: inherit;
   background-color: #f2f2f2;
}

.footer-contacts {
   display: flex;
   justify-content: space-between;
   background-color: #ffffff;
   color: #000000;
   padding-left: 72px;
   padding-right: 72px;
}

.footer-social-list {
   width: 150px;
   margin: 0;
   padding: 0;
}

.phone-section {
   width: 720px;
   text-align: center;
}

.footer-contacts-phone {
   font-size: 40px;
   line-height: 40px;
   text-decoration: none;
   color: #000000;   
}

/* page-catalog */

.filter {
   color: #ffffff;
   background-color: #82b3d3;
   background-image: url("../images/catalog/filter-background.jpg");
   background-repeat: no-repeat;
   background-size: 1200px auto;
   padding-left: 70px;
   padding-right: 70px;
}

.section-header-title {
   font-weight: 700;
   font-size: 60px;
   line-height: 78px;
   margin: 0;
}

.breadcrumbs {
   margin: 0;
   padding: 0;
}

.breadcrumbs-link {
   font-size: 16px;
   text-decoration: none;
   color: inherit;
}

.catalog-filter {
   display: flex;
} 

.group-checkbox {
   width: 150px;
   border: none;
   margin: 0;
   margin-right: 70px;
   padding: 0;
}

.group-radio {
   width: 145px;
   border: none;
   margin: 0;
   margin-right: 175px;
   padding: 0;
}

.group-range {
   width: 288px;
   border: none;
   margin: 0;
   margin-right: 70px;
   padding: 0;

}

.catalog-filter-list {
   margin: 0;
   padding: 0;
}

.catalog-filter-title {
   font-weight: 700;
   font-size: 20px;
   line-height: 26px;
   padding: 0;
}

.price-input {
   font-family: inherit;
   font-size: 18px;
   line-height: 21px;
   color: #ffffff;
   background-color: transparent;       
}

.input-text {
   color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-buttons {
   width: 160px;
}

.catalog-reset-button {
   font-size: 16px;
   line-height: 20px;
   color: #ffffff;
   background-color: transparent;
   border: none;
}

/* hotels */

.hotels {
   background-color: #ffffff;
   padding-left: 72px;
   padding-right: 72px;
}

.hotels-found-title {
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   text-transform: uppercase;
}

.select-control {
   font: inherit;
   color: #333333;
}

.view-button {
   text-decoration: none;
}

.hotel-list {
   margin: 0;
   padding: 0;
}

.hotel-card-link {
   text-decoration: none;  
}

.hotel-card-title {
   font-weight: 700;
   font-size: 24px;
   line-height: 28px;
   color: #000000;
}

.hotel-type, .hotel-price {
   font-weight: 400;
   color: 333333;
}

.green-button {
   background-color: #7db54f;
}

.estimation-rating {
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   text-transform: uppercase;  
   background-color: #f2f2f2;
}

.pagination-link {
   font-weight: 700;
   font-size: 20px;
   line-height: 36px;
   text-decoration: none;
   text-align: center;
   color: #ffffff;
   background-color: #82b3d3;
}

.pagination-current {
   color: #000000;
   background-color: #f2f2f2;
}

.select-cards {
   color: #333333;
}

.catalog-footer-signing-form {
   background-color: #ffffff;
   background-image: none;
}

.catalog-footer-signing-form .footer-signing-form-title {
   color: #000000;
}

.catalog-footer-signing-form .footer-signing-form-text {
   color: #333333;
}